@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://fonts.gstatic.com/s/lato/v11/Kom15zUm24dIPfIRiNogNuvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr30ibtJ3ueB9Z81J478WEJQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr6YfJ4wTnNoNUCmOpdh16Tg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(http://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcSGR3J8a2Jm30YJvJ3tIMOY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(http://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTceHuglUR2dhBxWD-q_ehMME.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

html{
	background-color: #000;
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
}

.bgimage{
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#container{
	width: 100%;
	height: 100%;
}

#splash{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	
	background-color: #34495e;
	background-size: cover;
	overflow: hidden;

	-webkit-ransition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

#game-logo{
	position: absolute;
	top: 10%;
	width: 100%;
	height: 55%;
	background-image: url('../images/logo.png');

	-webkit-transition: all 1s ease 1s;
	transition: all 1s ease 1s;
}

.moveLeft{
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}

.fadeOut{
	opacity: 0;
}

#game-tutorial{
	position: absolute;
	left: 100%;
	width: 100%;
}

.game-tutorial-text{
	position: absolute;
	left: 100%;
	width: 86%;
	margin-left: 7%;
	height: 100%;
	color:#fff;
	margin-bottom: 20px;
}

.tutorial-diamond{
	position: relative;
	left:50%;
	margin-left: -40px;
	width: 80px;
    height: 68px;

	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.tutorial-diamond.swing{

	-webkit-animation:swing 3s infinite ease 3.5s;
	animation:swing 3s infinite ease 3.5s;

	-webkit-transform-origin:top;
	-ms-transform-origin:top;
	transform-origin:top;
}

.tutorial-diamond.noDelay{
	-webkit-transition-delay: 0s !important;
    transition-delay: 0s !important;
}

.tutorial-diamond.oneSecDelay{
	-webkit-transition-delay: 1s !important;
	transition-delay: 1s !important;
}

.tutorial-diamond.twoSecDelay{
	-webkit-transition-delay: 2s !important;
	transition-delay: 2s !important;
}

.tutorial-diamond.red{
	background-image: url('../images/red.png');
}

.tutorial-diamond.green{
	background-image: url('../images/green.png');
}

.tutorial-diamond.yellow{
	background-image: url('../images/yellow.png');
}

.tutorial-diamond.swappingToRight{
	float: left;
	-webkit-transform: translateX(-80px);
    -ms-transform: translateX(-80px);
	transform: translateX(-80px);

	-webkit-transition-delay: 3s;
	transition-delay: 3s;
}

.tutorial-diamond.swappingToRight.active{
	-webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.tutorial-diamond.swappingToLeft{
	-webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);

	-webkit-transition-delay: 3s;
    transition-delay: 3s;
}

.tutorial-diamond.swappingToLeft.active{
	-webkit-transform: translateX(-80px);
    -ms-transform: translateX(-80px);
    transform: translateX(-80px);
}

#arrowRight{
	width: 48px;
	height: 48px;
	position: absolute;
	left: -50px;
	top: 10px;
	background-image: url('../images/arrow.png');

	-webkit-animation:pointRight 1s infinite ease;
	animation:pointRight 1s infinite ease;
}

#arrowRight.active{
	-webkit-transition: all 1s ease 3s;
	transition: all 1s ease 3s;
	opacity: 0;
}

#gameTitleContainer{
	position: absolute;
	top: 55%;
	height: 35%;
	text-align: center;
	width: 100%;
	color:#fff;
}

.titles{
	margin: 10px 0;
}

#game-title{
	background-image: url('../images/title.png');
	height: 40px;

	-webkit-transition: all 1s ease 1.2s;
	transition: all 1s ease 1.2s;
}

#game-subtitle{
	background-image: url('../images/subtitle.png');
	height: 20px;
	margin-top: 20px;

	-webkit-transition: all 1s ease 1.2s;
	transition: all 1s ease 1.2s;
}

#loadingDialog{
	margin-top: 20px;
}

#loadingBox{
	width: 50%;
	margin-left: 25%;
	height: 5px;
	background-color: #fff;

 	-webkit-transition: height 0.5s ease-out 0.3s;
  	transition: height 0.5s ease-out 0.3s;
}

#loadingBar{
	width: 0;
	height: 100%;
	background-color: #1abc9c;
	line-height: 50px;
	overflow: hidden;
	cursor: pointer;
	color: #fff;

	-webkit-transition: width 0.3s ease;
	transition: width 0.3s ease;
}

#game-container{
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.stats-container{
	position: relative;
	top: 0;
	text-align: center;
	width: 100%;
}

.stats-title.left{
	float: left;
}

.stats-title.right{
	float: right;
}

.stats-description{
	color: #fff;
	display: inline-block;
	font-size: 14px;
}

#stepsdownContainer{
	position: absolute;
	left: 50%;
	margin-left: -80px;
	border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 80px solid #1abc9c;
    width: 0;
    height: 0;
}

#stepsdownDescription{
	color: #fff;
	font-weight: lighter;
	text-align: center;
    width: 100px;
    margin-left: -50px;
    position: absolute;
    top: -80px;
}

#stepsdownText{
	font-size: 2em;
	color: #fff;
	font-weight: 300;
	width: 100px;
    position: absolute;
    margin-left: -50px;
    top: -60px;
}

#scoreContainer{
	position: absolute;
	width: 112px;
	left: 18px;
	top: 10px;
	background-image: url('../images/score.png');
}

#scoreText{
	display: inline-block;
	font-size: 24px;
	color: #fff;
	margin-left: 20px;
}

#itemContainer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 64px;
	text-align: center;
}

.item{
	box-sizing: border-box;
	display: inline-block;
	margin-top: 5px;
	width: 45px;
	height: 45px;
	float: right;
}

.item[data-name='bomb']{
	margin-right: 8px;
	background-image: url('../images/boom-bg.png');
}

.item[data-name='swap']{
	margin-right: 20px;
	background-image: url('../images/shuffle.png');
}

.item:active{
	background-color: rgba(0,0,0,0.4);
}

.itemCounter{
	margin: 27px 0 0 27px;
	width: 20px;
	position: absolute;
	height: 20px;
}

.itemCounterText{
	color:#fff;
	font-size: 1em;
	line-height: 20px;
	text-shadow: 1px 1px 1px #000000;
}

.item-search-icon{
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	margin-top:-25px;
}

.item-search-icon.bomb{
	background-image: url('../images/bomb.png');
}

.item-search-icon.swap{
	background-image: url('../images/swap.png');
}

.item-search-icon.flashing{
	-webkit-animation:fadeInOut 1s infinite ease;
	animation:fadeInOut 1s infinite ease;
}

#postgame-container{
	position: absolute;
	width:100%;
	height: 100%;
	top:0;
	background-color: #34495e;
	background-size: cover;
	z-index: -1;
	opacity: 0;
	overflow: hidden;

	-webkit-transition: all 2s ease 0.5s;
	transition: all 2s ease 0.5s;
}

.row-container{
	width: 100%;
	display: table;
	text-align: center;
}

.row{
	display: table-cell;
	vertical-align: middle;
}

.row.align-top{
	vertical-align: top;
}

#stats-score-container{
	height:25%;
}

#stats-text-container{
	height:20%;
}

#playagain-button-container{
	height:25%;
	cursor: pointer;
}

#option-container{
	height:30%;
}

.stats-score{
	width: 70px;
	height: 100px;
	max-width: 30%;
	max-height: 100%;
	display: inline-block;
	opacity: 0;
	margin: 5px;

	-webkit-transition: opacity 1s ease 1s;
	transition: opacity 1s ease 1s;
}

.stats-score.fill{
	background-image: url('../images/star_fill.png');
}

.stats-score.empty{
	background-image: url('../images/star_empty.png');
}

.stats-score:nth-child(1){
	-webkit-transition-delay: 2s;
	transition-delay: 2s;
}

.stats-score:nth-child(2){
	-webkit-transition-delay: 2.3s;
	transition-delay: 2.3s;
}

.stats-score:nth-child(3){
	-webkit-transition-delay: 2.6s;
	transition-delay: 2.6s;
}

.stats-score-text{
	width:50%;
	float: left;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
}

.stats-score-text.yourscore{
	color: #7ff;
}

.stats-score-text.bestscore{
	color: #fff;
}

#your-score{
	font-size: 40px;
	font-weight: bold;
}

#best-score{
	font-size: 40px;
	font-weight: bold;
}

#playagain-button{
	height: 100%;
	background-image: url('../images/replay.png');
}

.option{
	width: 80px;
	height: 80px;
	margin: 8px;
	max-width: 30%;
	max-height: 100%;
	display: inline-block;
}

.option:nth-child(1){
	background-image: url('../images/option-trophy.png');
}

.option:nth-child(2){
	background-image: url('../images/option-info.png');
}

.option:nth-child(3){
	background-image: url('../images/option-share.png');
}


@-moz-keyframes swing{
	20%{-moz-transform:rotate(8deg)}
    80%{-moz-transform:rotate(-8deg)}
}
@-webkit-keyframes swing{
    20%{-webkit-transform:rotate(8deg)}
    80%{-webkit-transform:rotate(-8deg)}
}

@-moz-keyframes pointRight{
	50%{-moz-transform: translateX(10px)}
	100%{-moz-transform: translateX(0px)}
}
@-webkit-keyframes pointRight{
	50%{-webkit-transform: translateX(10px)}
	100%{-webkit-transform: translateX(0px)}
}

@-moz-keyframes fadeInOut{
	50%{opacity: 0}
	100%{opacity: 1}
}
@-webkit-keyframes fadeInOut{
	50%{opacity: 0}
	100%{opacity: 1}
}

@media (max-width: 320px) {
	#game-logo{
		height: 50%;
	}
	.tutorial-diamond{
		width: 60px;
		height: 60px;
		margin-left: -30px;
	}
	#gameTitleContainer{
		top: 56%;
		height: 50%;
	}
	#loadingDialog{
		margin-top: 0;
	}
	#scoreContainer{
		width: 90px;
	}
	#scoreText{
		font-size: 16px;
		margin-left: 14px;
	}
	.item{
		width: 38px;
		height: 38px;
		margin-top: 0px;
	}
	.itemCounter{
		margin: 21px 0 0 21px;
	}
	.itemCounterText{
		font-size: 1em;
	}
}

@media (min-width: 500px) {
	.stats-description{
		margin: 0;
  		font-size: 1em;
	}
	#stepsdownText{
		font-size: 2em;
	}
	#scoreContainer{
		width: 200px;
		height: 100px;
	}
	#scoreText{
		font-size: 32px;
		margin-left: 40px;
		line-height: 100px;
	}
	.item{
		margin-top: 12px;
		width: 60px;
		height: 60px;
	}
	.itemCounter{
		margin: 0 0 0 50px;
	}
	.itemCounterText{
		font-size: 1em;
	}
	.item[data-name='swap'] {
		margin-right: 40px;
	}
	.item[data-name='bomb'] {
		margin-right: 20px;
	}
}