html, body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

p {
  margin: 0;
}

#launch-page{
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-radial-gradient(top, circle cover, #505050 0%, #101010 80%);
  -webkit-transition: all 2s ease;
          transition: all 2s ease;
}

#launch-page.hide{
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateY( -100% );
      -ms-transform: translateY( -100% );
          transform: translateY( -100% );
}

.title, .subtitle {
  text-align: center;
  padding: 10px;
  overflow: hidden;
}

.title {
  font-size: 4em;
}

.subtitle {
  font-size: 1em;
}

.title > p {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-animation: slide-top-in 3s ease-out forwards;
  animation: slide-top-in 3s ease-out forwards;
}

.subtitle > p {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: slide-bottom-in 2.5s 2.5s ease-out forwards;
  animation: slide-bottom-in 2.5s 2.5s ease-out forwards;
}

#progress-container{
  overflow: hidden;
  height: 60px;
  margin: 50px;
}

#progress-container-mask.ready{
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 1s ease-out;
          transition: all 1s ease-out;
}

#progress-container-mask.ready > #progress-indicator {
  opacity: 0;
  filter: alpha(opacity=0);
}

#progress-container-mask.ready > #enter-button {
  opacity: 1;
  filter: alpha(opacity=100);
  cursor: pointer;
}

#enter-button:hover:before, #enter-button:hover:after {
  width: 50px;
}

#enter-button{
  opacity: 0;
  overflow: hidden;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 2em;
  -webkit-transition: opacity 1s ease;
          transition: opacity 1s ease;
}

#enter-button:hover{
  text-shadow: 0 0 2px #fff;
}

#enter-button:before,
#enter-button:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 30px;
  -webkit-transition: width 1s ease;
          transition: width 1s ease;
}
#enter-button:before {
  right: 0.5em;
  margin-left: -51%;
}
#enter-button:after {
  left: 0.5em;
  margin-right: -53%;
}

.yt-iframe{
  width: 1280px;
  height: 720px;
  border: 0;
  position: absolute;
  display: none;
}

.yt-iframe.ready{
  display: block;
}

#progress-indicator {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s ease;
          transition: opacity 0.5s ease;
}

#progress-indicator.ready {
  opacity: 1;
  filter: alpha(opacity=100);
}

#progress-text {
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
}

.sk-fading-circle {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 1px;
  height: 6px;
  background-color: rgba(255,255,255,0.8);
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; filter: alpha(opacity=0); }
  40% { opacity: 1; filter: alpha(opacity=100); }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; filter: alpha(opacity=0); }
  40% { opacity: 1; filter: alpha(opacity=100); } 
}

@-webkit-keyframes slide-top-in {
  0 { -webkit-transform: translateY(-100%); transform: translateY(-100%); opacity: 0; filter: alpha(opacity=0); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; filter: alpha(opacity=100); }
}

@keyframes slide-top-in {
  0 { -webkit-transform: translateY(-100%); transform: translateY(-100%); opacity: 0; filter: alpha(opacity=0); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; filter: alpha(opacity=100); }
}

@-webkit-keyframes slide-bottom-in {
  0 { -webkit-transform: translateY(100%); transform: translateY(100%); opacity: 0; filter: alpha(opacity=0); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; filter: alpha(opacity=100); }
}

@keyframes slide-bottom-in {
  0 { -webkit-transform: translateY(100%); transform: translateY(100%); opacity: 0; filter: alpha(opacity=0); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; filter: alpha(opacity=100); }
}