body{
	font-family: 'Roboto', sans-serif;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}

p{
	margin: 0;
}

ul, li{
	padding: 0;
	padding-left: 0 !important;
}

#one.wrapper{
	padding-bottom: 1em;
}

.menu{
	margin: 1em;
}

.major > h1 {
	font-size: 4em;
}

.spotlight{
	margin: 0;
}

.example{
	padding: 0;
	height: 500px;
}

.more{
	padding: 0;
	padding-top: 1em;
}

#footer{
	padding: 0.5em;
}
